
.maintitle a{
    text-decoration:none;
    color: wheat;
}
.home{
    background:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin:5;
}
.posts{
    background: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}
header{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1.5);
    width: 500px;
    color: aliceblue;
}
nav{
    display: flex;
    text-decoration: none;
    gap: 10px;
    color:white;
    
}
nav a{
    color: white;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    transition: 0.3s;
}
nav a:hover{
color: beige;
}
.post-entry{
    display: flex;
    flex-direction: column;

    color: white;
    width: 500px;
}
.post-entry a{
    color: aliceblue;
    text-decoration: none;
}
.post-entry h2{
    padding-left: 20px;
    transition: 0.3s;
}
.post-entry h2:hover{
    text-decoration: underline;
}
.post-entry span{
    color: gray;
    padding-left: 40px;
}
.post-entry span:hover{
    text-decoration: underline;
}
.post-entry p{
    padding-left: 40px;
}
.post-date{
    display: flex;
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
}
.post a{
    display: flex;
    text-decoration: none;
    color: antiquewhite;
    width: 200px;
}
.post a:hover{
    color:aqua;
    text-decoration: underline;
}